body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  /* These give the columns width of 100%
  and rows height of 50% */
  grid-template-columns: 100%;
  grid-template-rows: 50%;
  /* These make the grid the size of the whole view */
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.words-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
  margin: 5% 15% 5% 15%;
}

.keyboard {
  margin: 5% 15% 5% 15%
}

.row {
  display: grid;
  grid-template-rows: 100%;
}

.row.first {
  grid-template-columns: repeat(10, 10%);
}
.row.second {
  grid-template-columns: repeat(9, 10%);
}
.row.third {
  grid-template-columns: repeat(7, 14%);
}

.key {
  background-color: gray;
  color: white;
  text-align: center;
  margin: 5px;
  border-radius: 3px;
}

.letter {
  display: -webkit-flex;
  display: flex;
  border: 3px solid gray;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

* {
  box-sizing: border-box;
}